/* Imports a google font. To change the font, replace the family with the name of the font (e.g. family=Roboto) */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/* 
* ATTENTION: This is a global stylesheet which is used to set styles that every rendered page should inherit. They can be
* overridden if need be.
*/


/* 
* Define global css constants here.
*
* ISU colors: https://www.brandmarketing.iastate.edu/brand-elements/color-palette/
*/

:root {
  --isu-red: #C8102E;
  --isu-yellow: #F1BE48;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}