.header-container {
    border-bottom: 4px solid var(--isu-yellow);
    background-color: var(--isu-red);
    color: #FFFFFF;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

nav {
    display: inline-block;
    padding: 0px 20px;
}

nav.nav-items > span {
    margin: 0px 10px;
}

.user-profile {
    cursor: pointer;
    line-height: inherit;
}