.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    border-bottom: 4px solid var(--isu-yellow);
    background-color: var(--isu-red);
    color: #FFF;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    font-weight: 700;
}

nav {
    display: inline-block;
    padding: 0px 20px;
}

nav.nav-items > span {
    margin: 0px 10px;
}

#user-profile {
    cursor: pointer;
}